<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Portfolio</title>
  {{> head}}
</head>
<body>
  {{> header}}
  <div class="intro_projects_contacts">
    <div class="container">
      {{> intro }}
      {{> projects }}
      {{> contact}}
    </div>
  </div>
  {{> scripts}}
</body>
</html>
